sudo: required
dist: trusty

language: java
jdk:
- oraclejdk8

cache:
  directories:
  - $HOME/.m2/repository

before_install:
  # allocate commits to CI, not the owner of the deploy key
  - git config user.name "opentracingci"
  - git config user.email "opentracingci+opentracing@googlegroups.com"

  # setup https authentication credentials, used by ./mvnw release:prepare
  - git config credential.helper "store --file=.git/credentials"
  - echo "https://$GH_TOKEN:@github.com" > .git/credentials

install:
  # Override default travis to use the maven wrapper
  - ./mvnw install -DskipTests=true -Dmaven.javadoc.skip=true -B -V

script:
  - ./travis/publish.sh

branches:
  except:
    - /^[0-9]/

after_success:
  - mvn jacoco:report coveralls:report

env:
  global:
  # Ex. travis encrypt BINTRAY_USER=your_github_account
  - secure: "hVicpP51WpEErSDy8ThcZ8zJhrQ/+8Mg9NiGT6IBxAuWDH6jQ2BIyYJ5oc/h7TRW2CYiAzBe0Qzd38Ifpw5gH6WHCK1qJiAuO+qjvNh5h5TeVaKUJHs2JPPHYM0WZMMQKpPTmcNi+EkozVTsef5hoX+tv0/WEVwCqJvRA6xelL37/kaTxmZJDq570RG6fFmAsfQFuN+PvFn1SutvIXkseetyKXtr+KvPaLniomOxdmVvzU60RMhxwaacmlRzu1D9uzGEDPmagW8iDB/byuBlZAyQVMMusZwbHSxqH471hNCU/PEg8NysmR0ZuRSonFOUu5RoERz9tLfUTV3PHgnNj/ZqlzABYfVuCIsB4led3uaEgb+en3fbWPFLr4YvTe2pqH7k7XNJELqvgfC2cCBu1cEtPq0bIZiDvz9i+qqUxUPrzkku2XKGf58bJz3UKmLECAC3VEMYE+z/PdjBD6FXK5ynfeWJH2q0MZqiVSqv4XSJn1BnOabINqy2xxnWk4EkfZQhqT70HPZ8AQEppgwDbtqCBdoD3ySNipq7FGJ/hGpmUqKh9E7JBSOLjyyix1ExKYlqglFAYOSgQOHSuVMFBi1GnbFzfKX22dwrN2gJHAx7FezEIxlbM6+ZBpC3DHjTaFlRAcAlE6Ci5KNkv1VnjtooijTPGawDNranRLVnlds="
  # Ex. travis encrypt BINTRAY_KEY=xxx-https://bintray.com/profile/edit-xxx --add
  - secure: "eyYuOFs7rnWnLnZFrkPsY9fuxPQq9W192vCoEOHzqtfkOHNFJkqwx1H1CWviZHbLVZl7qn0MpI/d3cQ93KgoKHJd1nRKEjBmm32bFg8BGXFhQA0r2/ylNjcZO7sZbJd2L+JK8U+O7hnQF+FJ5Gftn9aIRBxIiV/oJuelHWXEqFLv0Zgh+yVSc/aPzianAv9BcczpGGcO6K64gNMvg1HsIpK2VDw4DMyXkHFmw48BIvzDKgTVFkMKuy2UBSg2O1rqUCfAeoVn4VhF3R4Mrm+NyeCVGkmoL++ZIW9cp7hLsWiLac6AGhdujHEnUhJDd/KtiOoYQR0+perb65tuW8chPW4oul4ije2IKXlZZmv20jTev2N1+rtAmETexVn8EVdVLj90YBV1mjGTQl4tWRfxjQXFcwk9J4g4Nfce/x8DDNxygAB6KSNq1xaoZi+omQ3ELl7uN4et2ZqgJ7m+wapDt09B0An2JgrNKXGqzxZJaDX4gkPWPCtBoaycByrElQokA6abzI5PAFeTdxJ1mpeq8oZo+8sHwnYB0ml3D/P01mNOlU13sxi1nixLrO5RDdHM5tq3Cs/eZQjePu06taOEzCm6APX9FFbAq7AJbGnPjCk8g+7v8mBj/Bwo1qIyIN7LR7tRez1n+FqTPJPvmEI21YKhPOV3dNjDY+dLbhUbAaY="
  # Ex. travis encrypt GH_TOKEN=XXX-https://github.com/settings/tokens-XXX --add
  - secure: "mvvdjwFUe1D7aRPJCFb2oBiy+pTaYp5p/CXRLRJpq/Ap3aZ7N1GC4wjuWQKG0zR7cRnWX2OrtyQjR4q9iBT7nkrfSRZnNlu1zLQMrfpijIGCwC10wr/nuz/rtH0BjkozHHnDpedHDUp0P/WAWB99QSmxyKauvcShFQ2ceEAdZjuyVRKkWIcE9PgRjKIPc5TjVK9dZRHg/r65P5Mha2r3H5Rg7AfBLQebZqwMcR3BzilQAeUyUwuajNJMthzB76s3vYiAh4AbMJ9eM71VWc3Qtygl9U0xGKFSKuMkoPJIV7KYCoM9CKBmUz8uOGmBZyeYBy4FPXLvItAjJ5Oato9ujAr/sHk1044QT7rriRjSu+yNZeUwLP/uHLcWFHzYsSdIyY+S55BXPk5sg+ZFFZl/Lj+fJizAzQvZC+MgTVIhIIRE06fCA1qKwkMjPeRnGtUJVDw0NVJdTTs28J6l8EWbgOOuUJZaJO2pKcFR2QZfzh90ATVnBKH4UMhQMoLVklqUp2x3DNCamgrw/qa+vMk+PMnOQrPiOBKvu9qqwLVpiU0iNjvNUZrH1cF0WcGd4mqlqYbJ57shs1EVw/JfClrPaf6sYg26GJAfS+W2Nvr7FVT6OIeXAn2XKVrV18H43p+G3UZ3FyoXVnnWwkeXlpp2HtcFa5S53lrAvWdbUBmUsfQ="
  # Ex. travis encrypt SONATYPE_USER=your_sonatype_account
  - secure: "sdpWjltkPcEBsBHuuFgklG5+U2ZHZR0ea059jQwJtFHLBIBxN3hR0kWXki/VhZ3nT2j6C5gsYA6um6A8gRUIiYeHVWfEPQXDll677FIb3Og9pxblYSaZ4fxplQmqqr6bf52lojMFFG1VdTH7BXaVq0VIgphp4SKcmVZABuFPXFWfZ83UmdXE8zAkL9FJgAQkGi4z6qrEq4HGeUosbuSeH2tM3BYpYZRWwHgAVMTjAkL8NDcyawUJ4ZQWRwXUezmXTXsRjRA5u5TksKNlXPmOpffcYdTTpDH+FNbwjLTNJuy6C0/E2rVMCUgVYD3fQ/pcobp5csJl7VluLTSTIHfpGGCcxGJjTHZQcVlmuPulTNDcJtjEEnX1YczkVS+w1x3/j9Qlpj69YYN9KEee4mmSJlCDvZLSHhSoAuWMiry8RgHKiIlrXR2/75tgBQ/B23UBvC10fhXKdtKiVYjdCpBhHlMuLca7VAROtvzgneMf6c5kiVwspwz8TeOgC8mkL44zK4yBgT5fUExhYV4ModrcuiShgpWvjw/F5F8JaRvIDDaBE7L0NPO0w6lly+Ps6ELNXJzetWFOXlT8ti0YWnOcWfylE3SQfppySFBS6f3vv8aqEuu/RVWY7KI5NcH8iCKSkaS8YkNshv+of7qzoMMQx5mkAAQfT03Y3ozxY+r+9nE="
  # Ex. travis encrypt SONATYPE_PASSWORD=your_sonatype_password
  - secure: "GaDkVIdmFFJcV1qQF8KnUYritiIco1BFzYVRxxlA14qOJPgEA7XXSgbLWFsZR0tuL+z3ulfP5EvDYo8L+gP8YSrESVZiLCz3fDuqTbpWtFzZSvJuoyyffUHqpsDqT7SbyzzrFV5bEG1KI+jHlyiN6qc4iYPO/ce1ADzmz1sSKb9jpTlNht8ErWyScwScloPWgkG3s1oDVXKCHSRBUEa6FrtbNhg3jMp6dgB7L9FNXM91L7oF/ORyAsK3NgL2p3xOBfLNBbIOhpPD9GY0xC/6edzHUUirE/amSgT0w/mZws3RFRhExU+Q8sKC2PCpUvi2lYUpRSKc84Sq3Bail6EqQiaGnbQHlOKtlBMDosY3bQaqOZGKhWMoLDdPFwsKWtAmfLZD94q4ANwQJ+6QjJ5HV+0+O/bGNfu5CgAwGOeD5GyL1BG2el+3Y2WvLXz0Rhz6SSXRZr/x77hEu1dI7dRVGnb5w2DheSQDFrcCLxFmaZ9BBharfua2pGpipob9zpvzfIIc448j5UeOb+YIuQasbzPEwJfG/E2PTVe0mYhALbEPGYv/Ru09g2IKK1RLw0us7ivspMcob+O2Y8WWzVkHRGiZ++AQBJIIKJgtXsqeQU79PxFVRb23IucND01dMlZm+ZVjPhHhbQ666y2VPf2n79k/U5lMtMEZ/2YVZCs0lpc="
